/* CSS for LynxCheckpointXBlock */
.lynxcheckpoint_xblock{
    background-color: #f2f2f2;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
    border-color: #19b872;
}

.lynxcheckpoint_checkpoint{
    width : 100%;
}

.lynxcheckpoint_xblock:after{
    content:"";
    display: table;
    clear: both;
}